<!DOCTYPE html>
<html>
<head>
  <title>FLaWeD</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <div class='row'>
    <div class='page-header'>
      <h1 class='text-center'>
        FLaWeD
        <br/>
        <small>Keep your FLaWs in check!</small>
      </h1>
      <div class='actions pull-right'>
        <% if current_user %>
          <%= link_to 'Log out', logout_path %>
          <%= image_tag current_user.profile_pic %>
        <% end %>
      </div>
      <div class='clearfix'/>
    </div>

    <%= yield %>
  </div>
</div>

</body>
</html>
